.lead__title {
  padding: 0 20px;
  margin: 0 auto 32px;
  align-self: center;
  max-width: 720px;
  font-size: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 732px) {
  .lead__title {
    font-size: 70px;
    line-height: 74px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    margin: 0 auto 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
