.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  color: #ffffff;
  transition: opacity 0.3s linear 0.3s;
}

.place__link:hover {
  opacity: 0.8;
}
