.place {
  display: grid;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  gap: 48px 40px;
  max-width: 100%;
  grid-template-columns: calc(50% - 32px) 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 1152px) {
  .place {
    grid-template-columns: calc(50% - 29px) 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 896px) {
  .place {
    grid-template-columns: calc(50% - 20px) 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: 100%;
    padding: 0;
    gap: 32px;
  }
}
